html {
    scroll-behavior: smooth;
}
body {
    background: #828293;
}

.container {
    width: 1440px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 20px 16px 20px 0px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 30px;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    text-shadow: 4px 4px 11px rgb(34 60 80 / 45%);
}

h2 {
    font-size: 50px;
    font-weight: 600;
    text-shadow: 4px 4px 11px rgb(34 60 80 / 45%);
}

.avatar {
    border: 1px solid black;
    border-radius: 360px;
    width: 300px;
    box-shadow: 4px 4px 11px 7px rgb(34 60 80 / 45%);
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar li a {
    font-size: 20px;
    text-shadow: 4px 4px 11px rgb(34 60 80 / 45%);
    color: blue;
    transition: all 0.5s ease;
}

.navbar li a:hover {
    color: rgba(2, 128, 107, 0.623);
}

.about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    line-height: 27px;
    text-indent: 50px;
    font-style: italic;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
}

.image_skills {
    display: flex;
    gap: 100px;
}

.image_skills img {
    width: 150px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
}

.project_links {
    display: flex;
    gap: 200px;
}

.project_links li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.project_links li a {
    font-size: 20px;
    text-shadow: 4px 4px 11px rgb(34 60 80 / 45%);
    color: blue;
    transition: all 0.5s ease;
}

.project_links li a:hover {
    color: rgba(2, 128, 107, 0.623);
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
}

.code_examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
}

.code_list {
    display: flex;
    gap: 100px;
}

.contacts_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
}

.contacts_list {
    display: flex;
    gap: 80px;
    align-items: center;
}

.contacts_list li {
    display: flex;
    align-items: center;
}

.contacts_list li img {
    width: 50px;
    padding-right: 5px;
}

.contacts_list li {
    font-size: 20px;
    text-shadow: 4px 4px 11px rgb(34 60 80 / 45%);
    color: blue;
    transition: all 0.5s ease;
}

.contacts_list li a {
    font-size: 20px;
    text-shadow: 4px 4px 11px rgb(34 60 80 / 45%);
    color: blue;
    transition: all 0.5s ease;
}

.contacts_list li:hover {
    color: rgba(2, 128, 107, 0.623);
}

.contacts_list li a:hover {
    color: rgba(2, 128, 107, 0.623);
}

.english {
    font-size: 30px;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a img {
    width: 70px;
    transition: all 0.5s ease;
}

.year {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}
